<!DOCTYPE html>
<html>
  <head>
    <title>信创人才</title>
    <script src="js/vue.js"></script>
    <script src="js/datav.map.vue.js"></script>
    <script src="js/jwmeyy.js"></script>
    <link rel="stylesheet" href="css/rencai.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>
    <script>
      new WOW().init();
    </script>
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script src="js/axios.min.js"></script>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="container">
        <div class="top" id="title" onclick="parent.toggleFullScreen()">
          <p>中国化工行业信创适配中心</p>
        </div>
        <div class="content">
          <div class="con_left">
            <div class="left_box_1">
              <div class="left_box_1_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>信创人才数量</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="left_box_1_b">
                <div id="icharts_2" class="icharts_2"></div>
              </div>
            </div>

            <div class="left_box_2">
              <div class="left_box_2_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>信创人才等级</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="left_box_2_b">
                <div id="icharts_3" class="icharts_3"></div>
              </div>

              <div class="newbiaoji">
                <ul>
                  <li v-for="(item,index) in seriesData3" v::key="index">
                    <p>{{item.value}}</p>
                    <i></i>
                    <p>{{item.name}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="con_mid">
            <div class="mid_nav zoomIn">
              <a class="mid_nav1" href="zhihui.html">
                <p>指挥中心</p>
              </a>
              <a class="mid_nav1" href="shipei.html">
                <p>适配测试</p>
              </a>
              <a class="mid_nav1" href="chengguo.html">
                <p>信创成果</p>
              </a>
              <a class="mid_nav1 active" href="rencai.html">
                <p>信创人才</p>
              </a>
              <a class="mid_nav1" href="ziyuan.html">
                <p>平台资源</p>
              </a>
            </div>

            <div class="mid_con zoomIn">
              <div class="mid_con_1">
                <div class="mid_con_1_t">
                  <img src="images/shebei_1.png" alt="" />
                  <p>{{shuju.信创人才总数}}</p>
                  <img class="img" src="images/shebei_1.png" alt="" />
                </div>
                <div class="mid_con_1_t_t">
                  <p>信创人才总数</p>
                </div>
                <div class="mid_con_1_m">
                  <img src="images/shebei_4.png" alt="" />
                  <img src="images/shebei_4_1.png" alt="" />
                </div>
                <div class="mid_con_1_b">
                  <img src="images/shebei_3.png" alt="" />
                </div>
              </div>

              <div class="mid_con_2 zoomIn">
                <div class="mid_con_2_1">
                  <div class="mid_con_2_t">
                    <img src="images/shebei_1.png" alt="" />
                    <p>{{shuju.信创专家}}</p>
                    <img class="img" src="images/shebei_1.png" alt="" />
                  </div>
                  <div class="mid_con_2_t_t">
                    <p>信创专家</p>
                  </div>
                  <div class="mid_con_2_m">
                    <img src="images/shebei_4.png" alt="" />
                    <img src="images/shebei_4_1.png" alt="" />
                  </div>
                  <div class="mid_con_2_b">
                    <img src="images/shebei_3.png" alt="" />
                  </div>
                </div>
                <div class="mid_con_2_1">
                  <div class="mid_con_2_t">
                    <img src="images/shebei_1.png" alt="" />
                    <p>{{shuju.课程数}}</p>
                    <img class="img" src="images/shebei_1.png" alt="" />
                  </div>
                  <div class="mid_con_2_t_t">
                    <p>课程数</p>
                  </div>
                  <div class="mid_con_2_m">
                    <img src="images/shebei_4.png" alt="" />
                    <img src="images/shebei_4_1.png" alt="" />
                  </div>
                  <div class="mid_con_2_b">
                    <img src="images/shebei_3.png" alt="" />
                  </div>
                </div>
              </div>

              <div class="mid_con_3 zoomIn">
                <div class="mid_con_3_1">
                  <div class="mid_con_3_t">
                    <img src="images/shebei_1.png" alt="" />
                    <p>{{shuju.中级工程师}}</p>
                    <img class="img" src="images/shebei_1.png" alt="" />
                  </div>
                  <div class="mid_con_3_t_t">
                    <p>中级工程师</p>
                  </div>
                  <div class="mid_con_3_m">
                    <img src="images/shebei_4.png" alt="" />
                    <img src="images/shebei_4_1.png" alt="" />
                  </div>
                  <div class="mid_con_3_b">
                    <img src="images/shebei_3.png" alt="" />
                  </div>
                </div>
                <div class="mid_con_3_1">
                  <div class="mid_con_3_t">
                    <img src="images/shebei_1.png" alt="" />
                    <p>{{shuju.高级工程师}}</p>
                    <img class="img" src="images/shebei_1.png" alt="" />
                  </div>
                  <div class="mid_con_3_t_t">
                    <p>高级工程师</p>
                  </div>
                  <div class="mid_con_3_m">
                    <img src="images/shebei_4.png" alt="" />
                    <img src="images/shebei_4_1.png" alt="" />
                  </div>
                  <div class="mid_con_3_b">
                    <img src="images/shebei_3.png" alt="" />
                  </div>
                </div>
                <div class="mid_con_3_1">
                  <div class="mid_con_3_t">
                    <img src="images/shebei_1.png" alt="" />
                    <p>{{shuju.初级工程师}}</p>
                    <img class="img" src="images/shebei_1.png" alt="" />
                  </div>
                  <div class="mid_con_3_t_t">
                    <p>初级工程师</p>
                  </div>
                  <div class="mid_con_3_m">
                    <img src="images/shebei_4.png" alt="" />
                    <img src="images/shebei_4_1.png" alt="" />
                  </div>
                  <div class="mid_con_3_b">
                    <img src="images/shebei_3.png" alt="" />
                  </div>
                </div>
              </div>

              <div class="mid_con_4 zoomIn">
                <img src="images/newyuan.png" alt="" />
                <!-- <canvas id="can" width="750" height="400"
                style="max-width: 800px; width: 100%; position: absolute; left: 50%; top: -70px; transform: translate(-50%, -50%);border-radius: 30%;"></canvas> -->
              </div>

              <div class="mid_con_7"></div>
              <div class="bottom_circle">
                <div class="bottom_circle1"></div>
                <div class="bottom_circle2"></div>
                <div class="bottom_circle3"></div>
                <div class="bottom_circle4"></div>
              </div>
            </div>
          </div>

          <div class="con_right">
            <div class="right_box_1">
              <div class="right_box_1_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>信创课程类别</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="right_box_1_b">
                <div id="icharts_3_1" class="icharts_3_1"></div>
              </div>
              <div class="newbiaoji">
                <ul>
                  <li v-for="(item,index) in seriesData3_1" v::key="index">
                    <p>{{item.value}}</p>
                    <i></i>
                    <p>{{item.name}}</p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="right_box_2">
              <div class="right_box_2_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>认证考试通过率</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="shubiao">
                <div class="shubiao_1">
                  <i></i>
                  <p>未通过</p>
                </div>
                <div class="shubiao_2">
                  <i></i>
                  <p>已颁发</p>
                </div>
              </div>
              <div class="right_box_2_b">
                <div id="icharts_6" class="icharts_6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          web: "/api",
          renshutime: [],
          renshunum: [],
          shuju: "",
          seriesData3: [],
          seriesData3_1: [],
          banfa: [],
          wei: [],
          kaotime: [],
        },
        watch: {
          renshunum() {
            this.drawrenshu();
          },
          seriesData3() {
            this.drawrendengji();
          },
          seriesData3_1() {
            this.drawkecheng();
          },
          banfa() {
            this.drawkaoshi();
          },
        },
        methods: {
          //控制字体
          fontSize(res) {
            var docEl = document.documentElement,
              clientWidth =
                window.innerWidth ||
                document.documentElement.clientWidth ||
                document.body.clientWidth;
            if (!clientWidth) return;
            return (res * clientWidth) / 1920;
          },

          //数据统计
          getshuju() {
            axios({
              method: "get",
              url: this.web + "/screen/training/stat",
            })
              .then((res) => {
                console.log(res.data);
                this.shuju = res.data;
              })
              .catch((err) => {});
          },

          //人才数量
          getrcs() {
            axios({
              method: "get",
              url: this.web + "/screen/training/trainee",
            })
              .then((res) => {
                console.log(res.data);
                for (var i = 0; i < res.data.length; i++) {
                  this.renshutime.push(res.data[i].创建时间);
                  this.renshunum.push(res.data[i].数量);
                }
              })
              .catch((err) => {});
          },

          //人才数量图表
          drawrenshu() {
            var myChart2 = echarts.init(document.getElementById("icharts_2"));
            myChart2.setOption({
              grid: {
                left: 30,
                right: 30,
                top: 30,
                bottom: 10,
                containLabel: true,
              },
              dataZoom: [
                {
                  show: true, // 这个dataZoom组件，默认控制x轴。
                  type: "slider", // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                  start: 0, // 左边在 0% 的位置。
                  end: 60, // 右边在 60% 的位置。
                },
              ],
              tooltip: {
                trigger: "axis",
                axisPointer: {
                  type: "line",
                  lineStyle: {
                    color: "#00c9fb",
                    opacity: 0.7,
                    type: "dashed",
                    width: 1,
                  },
                  z: 1,
                },
                padding: [15, 22],
                backgroundColor: "rgba(0,0,0,0.9)",
                borderColor: "#01a3ce",
                borderWidth: 1,
                textStyle: {
                  fontSize: this.fontSize(16),
                  lineHeight: this.fontSize(32),
                  color: "#ffffff",
                },
              },
              xAxis: {
                data: this.renshutime,
                boundaryGap: false,
                axisLine: { show: false },
                axisTick: {
                  show: true,
                  lineStyle: { color: "#0187c4", width: 1, opacity: 1 },
                },
                axisLabel: {
                  textStyle: { fontSize: this.fontSize(12), color: "#a8b2be" },
                  margin: 20,
                  interval: 0,
                  rotate: 20,
                },
                splitLine: { show: false },
              },
              yAxis: {
                type: "value",
                axisLine: { show: false },
                axisTick: {
                  show: true,
                  lineStyle: { color: "#0187c4", width: 1, opacity: 1 },
                },
                axisLabel: {
                  textStyle: { fontSize: this.fontSize(12), color: "#a8b2be" },
                  opacity: 0.7,
                  margin: this.fontSize(15),
                },
                splitLine: {
                  show: true,
                  lineStyle: { color: "#a8b2be", width: 1, opacity: 0.2 },
                },
                min: 0,
                max: 40,
              },
              animationDelay: 900,
              animationDuration: 2000,
              animationDurationUpdate: 800,
              series: [
                {
                  type: "line",
                  symbol: "circle",
                  symbolSize: this.fontSize(5),
                  showSymbol: false,
                  smooth: true,
                  areaStyle: {
                    show: true,
                    shadowColor: "rgba(0, 0, 0, 0.7)",
                    shadowBlur: this.fontSize(10),
                  },
                  itemStyle: {
                    color: "#00f3f7",
                    borderColor: "#ffffff",
                    borderWidth: 3,
                    borderType: "solid",
                  },
                  lineStyle: { color: "#00f3f7", width: 2 },
                  areaStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                      { offset: 0, color: "#00f3f7" },
                      { offset: 1, color: "transparent" },
                    ]),
                    opacity: 0.15,
                  },
                  data: this.renshunum,
                },
              ],
            });
          },

          //人才等级
          getdengji() {
            axios({
              method: "get",
              url: this.web + "/screen/training/level",
            })
              .then((res) => {
                console.log(res.data);
                var qiuname = [];
                var qiunum = [];
                for (var i = 0; i < res.data.length; i++) {
                  qiuname.push(res.data[i].等级);
                  qiunum.push(res.data[i].数量);
                }
                for (var i = 0; i < qiunum.length; i++) {
                  this.seriesData3.push({
                    name: qiuname[i],
                    value: qiunum[i],
                  });
                }
                var s = 0;
                for (var i = qiunum.length - 1; i >= 0; i--) {
                  undefined;

                  s += qiunum[i];
                }

                console.log(s);
                this.qiuzong = s;
              })
              .catch((err) => {});
          },

          //人才等级图表
          drawrendengji() {
            var myChart3 = echarts.init(document.getElementById("icharts_3"));
            myChart3.setOption({
              title: {
                text: this.qiuzong,
                subtext: "共计",
                left: "center",
                top: "center",
                textStyle: {
                  color: "#fff",
                  fontSize: this.fontSize(22),
                },
                subtextStyle: {
                  color: "#fff",
                  fontSize: this.fontSize(15),
                },
              },
              color: ["#02c3c0", "#ffce68", "#00b5ff", "#fe8c4e"],
              tooltip: {
                padding: [15, 22],
                backgroundColor: "rgba(0,0,0,0.9)",
                borderColor: "#01a3ce",
                borderWidth: 1,
                textStyle: {
                  fontSize: this.fontSize(15),
                  lineHeight: this.fontSize(32),
                  color: "#ffffff",
                },
              },
              animationDelay: 900,
              animationDuration: 2000,
              animationDurationUpdate: 800,
              series: [
                {
                  type: "pie",
                  radius: ["46%", "68%"],
                  minAngle: 20,
                  label: {
                    formatter: ["{a|{b}}", "{b|{c}个}"].join("\n"),
                    rich: {
                      a: {
                        fontSize: this.fontSize(11),
                        lineHeight: this.fontSize(32),
                        color: "#6697c2",
                      },
                      b: {
                        fontSize: this.fontSize(11),
                        fontWeight: "bold",
                        lineHeight: this.fontSize(26),
                        color: "#3cd1ff",
                        fontFamily: "DIN-Medium",
                      },
                    },
                  },
                  labelLine: {
                    length: this.fontSize(28),
                    length2: this.fontSize(8),
                  },
                  // itemStyle: { shadowColor: '#000', shadowBlur: 65, shadowOffsetX: '20', shadowOffsetY: '0', },
                  data: this.seriesData3,
                },
              ],
            });
          },

          //信创课程
          getkecheng() {
            axios({
              method: "get",
              url: this.web + "/screen/training/course",
            })
              .then((res) => {
                console.log(res.data);
                var qiuname1 = [];
                var qiunum1 = [];
                for (var i = 0; i < res.data.length; i++) {
                  qiuname1.push(res.data[i].类型);
                  qiunum1.push(res.data[i].数量);
                }
                for (var i = 0; i < qiunum1.length; i++) {
                  this.seriesData3_1.push({
                    name: qiuname1[i],
                    value: qiunum1[i],
                  });
                }
                var s = 0;
                for (var i = qiunum1.length - 1; i >= 0; i--) {
                  undefined;

                  s += qiunum1[i];
                }

                console.log(s);
                this.qiuhe = s;
              })
              .catch((err) => {});
          },
          //信创课程图表
          drawkecheng() {
            var myChart3_1 = echarts.init(
              document.getElementById("icharts_3_1")
            );
            myChart3_1.setOption({
              title: {
                text: this.qiuhe,
                subtext: "共计",
                left: "center",
                top: "center",
                textStyle: {
                  color: "#fff",
                  fontSize: this.fontSize(22),
                },
                subtextStyle: {
                  color: "#fff",
                  fontSize: this.fontSize(15),
                },
              },
              color: ["#02c3c0", "#ffce68", "#00b5ff", "#fe8c4e"],
              tooltip: {
                padding: [15, 22],
                backgroundColor: "rgba(0,0,0,0.9)",
                borderColor: "#01a3ce",
                borderWidth: 1,
                textStyle: {
                  fontSize: this.fontSize(15),
                  lineHeight: this.fontSize(32),
                  color: "#ffffff",
                },
              },
              animationDelay: 900,
              animationDuration: 2000,
              animationDurationUpdate: 800,
              series: [
                {
                  type: "pie",
                  radius: ["46%", "68%"],
                  minAngle: 20,
                  label: {
                    formatter: ["{a|{b}}", "{b|{c}个}"].join("\n"),
                    rich: {
                      a: {
                        fontSize: this.fontSize(12),
                        lineHeight: this.fontSize(32),
                        color: "#6697c2",
                      },
                      b: {
                        fontSize: this.fontSize(12),
                        fontWeight: "bold",
                        lineHeight: this.fontSize(26),
                        color: "#3cd1ff",
                        fontFamily: "DIN-Medium",
                      },
                    },
                  },
                  labelLine: {
                    length: this.fontSize(24),
                    length2: this.fontSize(14),
                  },
                  // itemStyle: { shadowColor: '#000', shadowBlur: 65, shadowOffsetX: '20', shadowOffsetY: '0', },
                  data: this.seriesData3_1,
                },
              ],
            });
          },

          //考试通过率
          gettongguo() {
            axios({
              method: "get",
              url: this.web + "/screen/training/exam",
            })
              .then((res) => {
                console.log(res.data);
                for (var i = 0; i < res.data.已颁发.length; i++) {
                  this.banfa.push(res.data.已颁发[i].数量);
                  this.kaotime.push(res.data.已颁发[i].创建时间);
                }
                for (var i = 0; i < res.data.未通过.length; i++) {
                  this.wei.push(res.data.未通过[i].数量);
                }

                console.log(this.banfa);
                console.log(this.wei);
              })
              .catch((err) => {});
          },

          //考试图表
          drawkaoshi() {
            var myChart6 = echarts.init(document.getElementById("icharts_6"));
            myChart6.setOption({
              grid: {
                left: 30,
                right: 30,
                top: 30,
                bottom: 20,
                containLabel: true,
              },
              tooltip: {
                trigger: "axis",
                axisPointer: {
                  type: "shadow",
                  shadowStyle: { color: "rgba(0,156,255,0.2)" },
                  z: 1,
                },
                padding: [15, 22],
                backgroundColor: "rgba(0,0,0,0.9)",
                borderColor: "#01a3ce",
                borderWidth: 1,
                textStyle: {
                  fontSize: this.fontSize(12),
                  lineHeight: this.fontSize(32),
                  color: "#ffffff",
                },
              },
              xAxis: {
                data: this.kaotime,
                axisLine: { show: false },
                axisTick: {
                  show: true,
                  lineStyle: { color: "#0187c4", width: 1, opacity: 1 },
                },
                axisLabel: {
                  textStyle: { fontSize: this.fontSize(12), color: "#3c5689" },
                  margin: this.fontSize(15),
                  interval: 0,
                  rotate: 20,
                },
                splitLine: { show: false },
              },
              yAxis: {
                position: "right",
                type: "value",
                axisLine: { show: false },
                axisTick: {
                  show: true,
                  lineStyle: { color: "#0187c4", width: 1, opacity: 1 },
                },
                axisLabel: {
                  textStyle: { fontSize: this.fontSize(12), color: "#3c5689" },
                  opacity: 0.7,
                  margin: this.fontSize(15),
                },
                splitLine: {
                  show: true,
                  lineStyle: { color: "#3cd1ff", width: 1, opacity: 0.2 },
                },
              },
              animationDelay: 900,
              animationDuration: 2000,
              animationDurationUpdate: 800,
              series: [
                {
                  type: "pictorialBar",
                  z: 13,
                  symbolSize: [this.fontSize(12), this.fontSize(9)],
                  symbolOffset: [this.fontSize(-8), this.fontSize(-6)],
                  symbolPosition: "end",
                  tooltip: { show: false },
                  itemStyle: { color: "#ff965d" },
                  barWidth: this.fontSize(12),
                  data: this.wei,
                },
                {
                  type: "bar",
                  name: "未通过",
                  z: 12,
                  barGap: "30%",
                  itemStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                      { offset: 0, color: "#ff965d" },
                      { offset: 1, color: "rgba(255,150,93,0.05)" },
                    ]),
                  },
                  barWidth: this.fontSize(12),
                  data: this.wei,
                },
                {
                  type: "pictorialBar",
                  z: 13,
                  symbolSize: [this.fontSize(12), this.fontSize(9)],
                  symbolOffset: [this.fontSize(8), this.fontSize(-6)],
                  symbolPosition: "end",
                  tooltip: { show: false },
                  itemStyle: { color: "#4190f9" },
                  barWidth: this.fontSize(12),
                  data: this.banfa,
                },
                {
                  type: "bar",
                  name: "已颁发",
                  z: 12,
                  barGap: "30%",
                  itemStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                      { offset: 0, color: "#4190f9" },
                      { offset: 1, color: "rgba(64,144,249,0.05)" },
                    ]),
                  },
                  barWidth: this.fontSize(12),
                  data: this.banfa,
                },
              ],
            });
          },
        },
        mounted() {
          this.getrcs();
          this.drawrenshu();
          this.getshuju();
          this.getdengji();
          this.drawrendengji();
          this.getkecheng();
          this.drawkecheng();
          this.gettongguo();
          this.drawkaoshi();
        },
      });
    </script>

    <!-- 柱状图1 开始-->
    <script type="text/javascript">
      var myChart6 = echarts.init(document.getElementById("icharts_6"));
      var data6x = [];
      var data6y1 = [];
      var data6y2 = [];
      var option6 = {};
    </script>
    <!-- 柱状图1 结束-->

    <script>
      $(document).ready(function () {
        /*更新数据*/
        // var data4x = ['一月', '二月', '三月', '四月', '五月', '六月'];
        // var data4y1 = [173, 159, 278, 132, 120, 220];
        // var data4y2 = [132, 120, 220, 123, 215, 173];
        // var data4y3 = [232, 140, 278, 173, 160, 262];
        // var data4y4 = [260, 180, 298, 216, 110, 141];

        // option4.xAxis.data = data4x;
        // option4.series[0].data = data4y1;
        // option4.series[1].data = data4y2;
        // option4.series[2].data = data4y3;
        // option4.series[3].data = data4y4;
        // myChart4.setOption(option4, true);

        /*更新数据*/
        // var data5x = ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05'];
        // var data5y1 = [4, 15, 10, 18, 10, 13];
        // var data5y2 = [10, 20, 8, 20, 15, 11];
        // var data5y3 = [278, 173, 232, 140, 160, 262];
        // var data5y4 = [216, 110, 260, 180, 298, 141];

        // option5.xAxis.data = data5x;
        // option5.series[0].data = data5y1;
        // option5.series[1].data = data5y2;
        // option5.series[2].data = data5y3;
        // option5.series[3].data = data5y4;
        // myChart5.setOption(option5, true);

        /*更新数据*/
        var data6x = ["01-02", "01-03", "01-04", "01-05", "01-06", "01-07"];
        var data6y1 = [20, 40, 50, 30, 10, 25];
        var data6y2 = [10, 50, 40, 20, 20, 40];

        option6.xAxis.data = data6x;
        option6.series[0].data = data6y1;
        option6.series[1].data = data6y1;
        option6.series[2].data = data6y2;
        option6.series[3].data = data6y2;
        myChart6.setOption(option6, true);

        /*更新数据*/
        // var data7x = ['一月', '二月', '三月', '四月', '五月', '六月'];
        // var data7y1 = [132, 120, 173, 159, 278, 220];
        // var data7y2 = [123, 132, 120, 220, 215, 173];
        // var data7y3 = [278, 173, 232, 140, 160, 262];
        // var data7y4 = [216, 110, 260, 180, 298, 141];

        // option7.xAxis.data = data7x;
        // option7.series[0].data = data7y1;
        // option7.series[1].data = data7y2;
        // option7.series[2].data = data7y3;
        // option7.series[3].data = data7y4;
        // myChart7.setOption(option7, true);
      });
    </script>

    <script>
      setInterval(() => {
        window.location.href = "ziyuan.html";
      }, 30000);
    </script>
  </body>
</html>
