<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel="stylesheet" href="css/style.css" />

    <script src="js/vue.js"></script>
    <script src="js/datav.map.vue.js"></script>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>
    <script>
      new WOW().init();
    </script>
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script src="js/axios.min.js"></script>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="container">
        <div id="title" class="top" onclick="parent.toggleFullScreen()">
          <p>中国化工行业信创适配中心</p>
        </div>
        <div class="content">
          <div class="con_left">
            <div class="left_box_1">
              <div class="left_box_1_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>数据概览</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="left_box_1_b">
                <div class="left_box_1_b_1">
                  <h2>{{alldata.企业总数}}</h2>
                  <img src="images/dizuo.png" alt="" />
                  <p>企业总数</p>
                </div>

                <div class="left_box_1_b_1">
                  <h2>{{alldata.信创产品}}</h2>
                  <img src="images/dizuo.png" alt="" />
                  <p>信创产品</p>
                </div>
                <div class="left_box_1_b_1">
                  <h2>{{alldata.信创人才}}</h2>
                  <img src="images/dizuo.png" alt="" />
                  <p>信创人才</p>
                </div>
                <div class="left_box_1_b_1">
                  <h2>{{alldata.开放工单}}</h2>
                  <img src="images/dizuo.png" alt="" />
                  <p>开放工单</p>
                </div>
                <div class="left_box_1_b_1">
                  <h2>{{alldata.考试认证}}</h2>
                  <img src="images/dizuo.png" alt="" />
                  <p>考试认证</p>
                </div>
                <div class="left_box_1_b_1">
                  <h2>{{alldata.适配项目}}</h2>
                  <img src="images/dizuo.png" alt="" />
                  <p>适配项目</p>
                </div>
              </div>
            </div>

            <div class="left_box_2">
              <div class="left_box_2_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>信创软硬件汇总</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="left_box_2_b">
                <div id="icharts_1" class="icharts_1"></div>
              </div>
            </div>

            <div class="left_box_3">
              <div class="left_box_3_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>正在适配迁移系统</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="left_box_3_b">
                <div class="left_box_3_b_t">
                  <p>名称</p>
                  <p>时间</p>
                </div>
                <div class="left_box_3_b_list">
                  <ul>
                    <li
                      class="left_box_3_b_list_1"
                      v-for="(item,index) in list"
                      v::key="index"
                    >
                      <p>{{item.名称}}</p>
                      <p>{{item.创建时间}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="con_mid">
            <div class="mid_nav zoomIn">
              <a class="mid_nav1 active" href="zhihui.html">
                <p>指挥中心</p>
              </a>
              <a class="mid_nav1" href="shipei.html">
                <p>适配测试</p>
              </a>
              <a class="mid_nav1" href="chengguo.html">
                <p>信创成果</p>
              </a>
              <a class="mid_nav1" href="rencai.html">
                <p>信创人才</p>
              </a>
              <a class="mid_nav1" href="ziyuan.html">
                <p>平台资源</p>
              </a>
            </div>

            <div class="mid_con zoomIn">
              <div class="mid_con_1">
                <div class="mid_con_1_1">
                  <div class="mid_con_1_1_top">
                    <img src="images/icon_1.png" alt="" />
                    <p>中国中化</p>
                  </div>
                  <div class="mid_con_1_1_bot">
                    <p>政策建议</p>
                    <!-- <img class="dh_1" src="images/arrow_1.png" alt=""> -->
                    <div class="arrowd">
                      <img src="images/topa.png" alt="" />
                      <div class="xian dh_1"></div>
                    </div>
                  </div>
                </div>
                <div class="mid_con_1_2">
                  <div class="mid_con_1_2_top">
                    <img src="images/icon_2.png" alt="" />
                    <p>科研院所</p>
                  </div>
                  <div class="mid_con_1_2_bot mid_con_1_1_bot">
                    <div class="arrowd">
                      <img src="images/topa.png" alt="" />
                      <div class="xian dh_1"></div>
                    </div>
                    <p>课题攻关</p>
                  </div>
                </div>
              </div>

              <div class="mid_con_2 zoomIn">
                <div class="mid_con_2_1">
                  <img src="images/icon_3.png" alt="" />
                  <p>集团内单位</p>
                </div>
                <div class="mid_con_2_2">
                  <div class="mid_con_2_2_1">
                    <p>应用适配</p>
                    <div class="arrowr">
                      <div class="xian dh_2"></div>
                      <img src="images/righta.png" class="" alt="" />
                    </div>
                  </div>
                  <div class="mid_con_2_2_1">
                    <div class="arrowl">
                      <img src="images/lefta.png" class="" alt="" />
                      <div class="xian dh_3"></div>
                    </div>
                    <p>信创解决方案</p>
                  </div>
                </div>
                <div class="mid_con_2_3">
                  <p>中国化信·信创适配中心</p>
                </div>
                <div class="mid_con_2_2">
                  <div class="mid_con_2_2_1">
                    <p>应用适配</p>
                    <div class="arrowr">
                      <div class="xian dh_2"></div>
                      <img src="images/righta.png" class="" alt="" />
                    </div>
                  </div>
                  <div class="mid_con_2_2_1">
                    <div class="arrowl">
                      <img src="images/lefta.png" class="" alt="" />
                      <div class="xian dh_3"></div>
                    </div>
                    <p>信创解决方案</p>
                  </div>
                </div>
                <div class="mid_con_2_4">
                  <img src="images/icon_4.png" alt="" />
                  <p>产业机构</p>
                </div>
              </div>

              <div class="mid_con_3 zoomIn">
                <img src="images/zhonghua.png" alt="" />
              </div>

              <div class="mid_con_4 zoomIn">
                <div class="mid_con_4_1">
                  <img src="images/icon_5.png" alt="" />
                  <p>供给管理</p>
                </div>
                <div class="mid_con_4_2">
                  <div class="arrowl" style="width: 95%">
                    <img src="images/lefta.png" class="" alt="" />
                    <div class="xian dh_3"></div>
                  </div>
                </div>
                <div class="mid_con_4_3">
                  <p>基于信创适配中心管理平台开展信创迁移及测试工作</p>
                </div>
                <div class="mid_con_4_2">
                  <div class="arrowr" style="width: 95%">
                    <div class="xian dh_2"></div>
                    <img src="images/righta.png" class="" alt="" />
                  </div>
                </div>
                <div class="mid_con_4_4">
                  <img src="images/icon_6.png" alt="" />
                  <p>产业管理</p>
                </div>
              </div>

              <div class="mid_con_5 zoomIn">
                <div class="mid_con_5_1">
                  <img src="images/xitong.png" alt="" />
                  <p>系统适配</p>
                </div>
                <div class="mid_con_5_1">
                  <img src="images/ceshi.png" alt="" />
                  <p>测试调优</p>
                </div>
                <div class="mid_con_5_1">
                  <img src="images/fangzhen.png" alt="" />
                  <p>仿真验证</p>
                </div>
                <div class="mid_con_5_1">
                  <img src="images/jishu.png" alt="" />
                  <p>技术服务</p>
                </div>
                <div class="mid_con_5_1">
                  <img src="images/rencai.png" alt="" />
                  <p>人才培训</p>
                </div>
              </div>

              <div class="mid_con_6 zoomIn">
                <p>国产化信创筑牢数字化基石</p>
              </div>

              <div class="mid_con_6_1">
                <img src="images/zhuan.png" alt="" />
              </div>

              <div class="bottom_circle">
                <div class="bottom_circle1"></div>
                <div class="bottom_circle2"></div>
                <div class="bottom_circle3"></div>
                <div class="bottom_circle4"></div>
              </div>
            </div>
          </div>

          <div class="con_right">
            <div class="right_box_1">
              <div class="right_box_1_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>测试成功展示</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="right_box_1_b">
                <ul>
                  <li v-for="(item,index) in listtwo" v::key="index">
                    <p>{{item.名称}} 测试结果：{{item.结果}}</p>
                    <p>{{item.创建时间}}</p>
                  </li>
                </ul>
              </div>
              <div class="right_box_1_b1">
                <div id="icharts_5" class="icharts_5"></div>
              </div>
            </div>

            <div class="right_box_2">
              <div class="right_box_2_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>业务系统分类</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="right_box_2_b">
                <div id="icharts_3" class="icharts_3"></div>
              </div>
              <div class="biaoji">
                <ul>
                  <li v-for="(item,index) in yewu">
                    <i></i>
                    <p>{{item.name}}</p>
                  </li>
                  <!-- <li><i></i>
                  <p>管理系统</p>
                </li>
                <li><i></i>
                  <p>安全</p>
                </li>
                <li><i></i>
                  <p>云平台</p>
                </li> -->
                </ul>
              </div>
            </div>

            <div class="right_box_2 right_box_3">
              <div class="right_box_2_t">
                <img class="img" src="images/sanjiao.png" alt="" />
                <p>适配迁移趋势</p>
                <img src="images/sanjiao.png" alt="" />
              </div>
              <div class="right_box_2_b new_right_box_2_b">
                <div id="icharts_2" class="icharts_2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          web: "/api",
          alldata: "",
          yjhz: "",
          yjhjx: [],
          yjhjy: [],
          spxt: "",
          list: "",
          listtwo: "",
          zhetime: [],
          zhenum: [],
          langtime: [],
          langnum: [],
          qiuname: [],
          qiunum: [],
          seriesData3: [],
          yewu: "",
        },
        watch: {
          yjhjx() {
            this.drawLine();
          },
          zhenum() {
            this.drawzhe();
          },
          qiunum() {
            this.drawqiu();
          },
          langnum() {
            this.drawlang();
          },
        },
        methods: {
          //数据概览
          getall() {
            axios({
              method: "GET",
              url: "/api/screen/index/stat",
            }).then((response) => {
              this.alldata = response.data;
            });
          },
          //软硬件汇总
          gethz() {
            var that = this;
            axios({
              method: "get",
              url: this.web + "/screen/index/product",
            }).then((data) => {
              that.yjhz = data.data;
              console.log(that.yjhz);
              for (var i = 0; i < that.yjhz.length; i++) {
                that.yjhjx.push(that.yjhz[i].数量);
                that.yjhjy.push(that.yjhz[i].类型);
              }
            });
          },

          //控制字体
          fontSize(res) {
            var docEl = document.documentElement,
              clientWidth =
                window.innerWidth ||
                document.documentElement.clientWidth ||
                document.body.clientWidth;
            if (!clientWidth) return;
            return (res * clientWidth) / 1920;
          },

          //第一个柱状图
          drawLine() {
            let myChart1 = echarts.init(document.getElementById("icharts_1"));
            myChart1.setOption({
              grid: {
                left: 30,
                right: 30,
                top: 30,
                bottom: 15,
                containLabel: true,
              },
              tooltip: {
                trigger: "axis",
                axisPointer: {
                  type: "shadow",
                  shadowStyle: {
                    color: "rgba(0,156,255,0.2)",
                  },
                  z: 1,
                },
                padding: [15, 22],
                backgroundColor: "rgba(0,0,0,0.9)",
                borderColor: "#01a3ce",
                borderWidth: 1,
                textStyle: {
                  fontSize: this.fontSize(16),
                  lineHeight: this.fontSize(32),
                  color: "#ffffff",
                },
              },
              xAxis: {
                data: this.yjhjy,
                axisLine: {
                  show: false,
                },
                axisTick: {
                  show: true,
                  lineStyle: {
                    color: "#0187c4",
                    width: 1,
                    opacity: 1,
                  },
                },
                axisLabel: {
                  textStyle: {
                    fontSize: this.fontSize(11),
                    color: "#9ba2b2",
                  },
                  margin: this.fontSize(25),
                  interval: 0,
                  rotate: 30,
                },
                splitLine: {
                  show: false,
                },
              },
              yAxis: {
                type: "value",
                axisLine: {
                  show: false,
                },
                axisTick: {
                  show: true,
                  lineStyle: {
                    color: "#0187c4",
                    width: 1,
                    opacity: 1,
                  },
                },
                axisLabel: {
                  textStyle: {
                    fontSize: this.fontSize(12),
                    color: "#9ba2b2",
                  },
                  opacity: 0.7,
                  margin: this.fontSize(15),
                },
                splitLine: {
                  show: true,
                  lineStyle: {
                    color: "#3cd1ff",
                    width: 1,
                    opacity: 0.2,
                  },
                },
                min: 0,
                max: 300,
              },
              animationDelay: 900,
              animationDuration: 2000,
              animationDurationUpdate: 800,
              series: [
                {
                  type: "pictorialBar",
                  z: 13,
                  symbolSize: [this.fontSize(12), this.fontSize(8)],
                  symbolOffset: [0, -5],
                  symbolPosition: "end",
                  tooltip: {
                    show: false,
                  },
                  itemStyle: {
                    color: "#00a8e6",
                  },
                  data: this.yjhjx,
                },
                {
                  type: "bar",
                  z: 12,
                  itemStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                      {
                        offset: 0,
                        color: "#4988f9",
                      },
                      {
                        offset: 1,
                        color: "rgba(0,146,255,0.05)",
                      },
                    ]),
                  },
                  label: {
                    show: false,
                    position: "top",
                    distance: this.fontSize(15),
                    fontSize: this.fontSize(20),
                    color: "#3cd1ff",
                    lineHeight: this.fontSize(30),
                    fontFamily: "DIN-Medium",
                  },
                  emphasis: {
                    label: {
                      color: "#f1e06e",
                    },
                  },
                  barWidth: this.fontSize(12),
                  data: this.yjhjx,
                },
              ],
            });
          },

          //右边折线图
          drawzhe() {
            var myChart5 = echarts.init(document.getElementById("icharts_5"));
            myChart5.setOption({
              grid: {
                left: 30,
                right: 30,
                top: 30,
                bottom: 15,
                containLabel: true,
              },
              tooltip: {
                trigger: "axis",
                axisPointer: {
                  type: "line",
                  lineStyle: {
                    color: "#00c9fb",
                    opacity: 0.7,
                    type: "dashed",
                    width: 1,
                  },
                  z: 1,
                },
                padding: [15, 22],
                backgroundColor: "rgba(0,0,0,0.9)",
                borderColor: "#01a3ce",
                borderWidth: 1,
                textStyle: {
                  fontSize: this.fontSize(14),
                  lineHeight: this.fontSize(32),
                  color: "#ffffff",
                },
              },
              xAxis: {
                data: this.zhetime,
                boundaryGap: false,
                axisLine: {
                  show: false,
                },
                axisTick: {
                  show: true,
                  lineStyle: {
                    color: "#0187c4",
                    width: 1,
                    opacity: 1,
                  },
                },
                axisLabel: {
                  textStyle: {
                    fontSize: this.fontSize(11),
                    color: "#939aaa",
                  },
                  margin: this.fontSize(15),
                  interval: 0,
                  rotate: 20,
                },
                splitLine: {
                  show: false,
                },
              },
              yAxis: {
                position: "right",
                type: "value",
                axisLine: {
                  show: false,
                },
                axisTick: {
                  show: true,
                  lineStyle: {
                    color: "#0187c4",
                    width: 1,
                    opacity: 1,
                  },
                },
                axisLabel: {
                  textStyle: {
                    fontSize: this.fontSize(12),
                    color: "#939aaa",
                  },
                  opacity: 0.7,
                  margin: 15,
                },
                splitLine: {
                  show: true,
                  lineStyle: {
                    color: "#1f3d61",
                    width: 1,
                    opacity: 0.2,
                  },
                },
                min: 0,
                max: 20,
              },
              animationDelay: 900,
              animationDuration: 2000,
              animationDurationUpdate: 800,
              series: [
                {
                  type: "line",
                  name: "成功",
                  symbol: "circle",
                  symbolSize: this.fontSize(12),
                  showSymbol: false,
                  smooth: false,
                  itemStyle: {
                    color: "#48c5ff",
                    borderColor: "#ffffff",
                    borderWidth: 3,
                    borderType: "solid",
                  },
                  lineStyle: {
                    color: "#48c5ff",
                    width: 1,
                  },
                  areaStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                      {
                        offset: 0,
                        color: "#48c5ff",
                      },
                      {
                        offset: 1,
                        color: "transparent",
                      },
                    ]),
                    opacity: 0.3,
                  },
                  data: this.zhenum,
                },
              ],
            });
          },

          //饼形图
          getqiu() {
            var that = this;
            axios({
              method: "get",
              url: this.web + "/screen/index/types",
            }).then((res) => {
              console.log(res.data);
              that.yewu = res.data;
              for (var i = 0; i < res.data.length; i++) {
                that.qiuname.push(res.data[i].name);
                that.qiunum.push(res.data[i].数量);
              }
              console.log(that.qiuname);
              console.log(that.qiunum);

              for (var i = 0; i < this.qiuname.length; i++) {
                console.log(1);
                this.seriesData3.push({
                  name: this.qiuname[i],
                  value: this.qiunum[i],
                });
              }
              var s = 0;
              for (var i = this.qiunum.length - 1; i >= 0; i--) {
                undefined;

                s += this.qiunum[i];
              }

              console.log(s);
              this.qiuzong = s;
              console.log(this.seriesData3);
            });
          },

          drawqiu() {
            //绘制图

            var myChart3 = echarts.init(document.getElementById("icharts_3"));
            myChart3.setOption({
              title: {
                text: this.qiuzong,
                subtext: "共计",
                left: "center",
                top: "center",
                textStyle: {
                  color: "#fff",
                  fontSize: this.fontSize(22),
                },
                subtextStyle: {
                  color: "#fff",
                  fontSize: this.fontSize(16),
                },
              },
              color: [
                "#01ccc6",
                "#ffcb66",
                "#e88b46",
                "#00bdfd",
                "#01ccc6",
                "#ffcb66",
                "#e88b46",
                "#00bdfd",
                "#01ccc6",
                "#ffcb66",
                "#e88b46",
                "#00bdfd",
              ],
              tooltip: {
                padding: [15, 22],
                backgroundColor: "rgba(0,0,0,0.9)",
                borderColor: "#01a3ce",
                borderWidth: 1,
                textStyle: {
                  fontSize: this.fontSize(15),
                  lineHeight: this.fontSize(32),
                  color: "#ffffff",
                },
              },
              animationDelay: 900,
              animationDuration: 2000,
              animationDurationUpdate: 800,
              series: [
                {
                  type: "pie",
                  radius: ["46%", "68%"],
                  minAngle: 20,
                  // label: { formatter: ['{a|{b}}', '{b|{c}个}'].join('\n'), rich: { a: { fontSize: 13, lineHeight: 32, color: '#6697c2' }, b: { fontSize: 12, fontWeight: 'bold', lineHeight: 26, color: '#3cd1ff', fontFamily: 'DIN-Medium' } } },
                  label: {
                    formatter: ["{b|{c}个}"].join("\n"),
                    rich: {
                      a: {
                        fontSize: this.fontSize(13),
                        lineHeight: this.fontSize(32),
                        color: "#6697c2",
                      },
                      b: {
                        fontSize: this.fontSize(12),
                        fontWeight: "bold",
                        lineHeight: this.fontSize(26),
                        color: "#3cd1ff",
                        fontFamily: "DIN-Medium",
                      },
                    },
                  },
                  labelLine: {
                    length: this.fontSize(18),
                    length2: this.fontSize(14),
                  },
                  // itemStyle: { shadowColor: '#000', shadowBlur: 65, shadowOffsetX: '20', shadowOffsetY: '0', },
                  data: this.seriesData3,
                },
              ],
            });
          },

          //正在适配迁移系统
          getlist() {
            var that = this;
            axios({
              method: "get",
              url: this.web + "/screen/index/pending",
            }).then((res) => {
              this.list = res.data;
            });
          },

          //测试成功展示
          getlisttwo() {
            var that = this;
            axios({
              method: "get",
              url: this.web + "/screen/index/success",
            }).then((res) => {
              console.log(res.data);
              this.listtwo = res.data.成功项目;
              for (var i = 0; i < res.data.完成测试.length; i++) {
                this.zhetime.push(res.data.完成测试[i].创建时间);
                this.zhenum.push(res.data.完成测试[i].数量);
              }
              console.log(this.zhenum);
              console.log(this.zhetime);
            });
          },

          //获取波浪图
          getbolang() {
            axios({
              method: "get",
              url: this.web + "/screen/index/trends",
            }).then((res) => {
              console.log(res.data);
              for (var i = 0; i < res.data.迁移趋势.length; i++) {
                this.langtime.push(res.data.迁移趋势[i].创建时间);
                this.langnum.push(res.data.迁移趋势[i].数量);
              }
              console.log(this.langnum);
              console.log(this.langtime);
            });
          },

          drawlang() {
            var myChart2 = echarts.init(document.getElementById("icharts_2"));
            myChart2.setOption({
              grid: {
                left: 30,
                right: 30,
                top: 30,
                bottom: 10,
                containLabel: true,
              },
              tooltip: {
                trigger: "axis",
                axisPointer: {
                  type: "line",
                  lineStyle: {
                    color: "#00c9fb",
                    opacity: 0.7,
                    type: "dashed",
                    width: 1,
                  },
                  z: 1,
                },
                padding: [15, 22],
                backgroundColor: "rgba(0,0,0,0.9)",
                borderColor: "#01a3ce",
                borderWidth: 1,
                textStyle: {
                  fontSize: this.fontSize(16),
                  lineHeight: this.fontSize(32),
                  color: "#ffffff",
                },
              },
              xAxis: {
                data: this.langtime,
                boundaryGap: false,
                axisLine: {
                  show: false,
                },
                axisTick: {
                  show: true,
                  lineStyle: {
                    color: "#0187c4",
                    width: 1,
                    opacity: 1,
                  },
                },
                axisLabel: {
                  textStyle: {
                    fontSize: this.fontSize(10),
                    color: "#a8b2be",
                  },
                  margin: this.fontSize(20),
                  interval: 0,
                  rotate: 20,
                },
                splitLine: {
                  show: false,
                },
              },
              yAxis: {
                position: "right",
                type: "value",
                axisLine: {
                  show: false,
                },
                axisTick: {
                  show: true,
                  lineStyle: {
                    color: "#0187c4",
                    width: 1,
                    opacity: 1,
                  },
                },
                axisLabel: {
                  textStyle: {
                    fontSize: this.fontSize(12),
                    color: "#a8b2be",
                  },
                  opacity: 0.7,
                  margin: this.fontSize(15),
                },
                splitLine: {
                  show: true,
                  lineStyle: {
                    color: "#a8b2be",
                    width: 1,
                    opacity: 0.2,
                  },
                },
                min: 0,
                max: 60,
              },
              animationDelay: 900,
              animationDuration: 2000,
              animationDurationUpdate: 800,
              series: [
                {
                  type: "line",
                  symbol: "circle",
                  symbolSize: 5,
                  showSymbol: false,
                  smooth: true,
                  areaStyle: {
                    show: true,
                    shadowColor: "rgba(0, 0, 0, 0.7)",
                    shadowBlur: 10,
                  },
                  itemStyle: {
                    color: "#00a8ff",
                    borderColor: "#ffffff",
                    borderWidth: 3,
                    borderType: "solid",
                  },
                  lineStyle: {
                    color: "#00a8ff",
                    width: 2,
                  },
                  areaStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                      {
                        offset: 0,
                        color: "#00a8ff",
                      },
                      {
                        offset: 1,
                        color: "transparent",
                      },
                    ]),
                    opacity: 0.15,
                  },
                  data: this.langnum,
                },
              ],
            });
          },
        },

        // updated() {
        //   this.getall();
        //   this.gethz();
        // },

        mounted() {
          this.getall();
          this.gethz();
          this.getlist();
          this.getlisttwo();
          this.getqiu();
          this.getbolang();

          this.drawLine();
          this.drawzhe();
          this.drawqiu();
          this.drawlang();
        },
      });
    </script>
    <script>
      function fontSize(res) {
        var docEl = document.documentElement,
          clientWidth =
            window.innerWidth ||
            document.documentElement.clientWidth ||
            document.body.clientWidth;
        if (!clientWidth) return;
        return (res * clientWidth) / 1920;
      }
    </script>

    <script>
      $(function () {
        var $this = $(".left_box_3_b_list");
        var scrollTimer;
        $this
          .hover(
            function () {
              clearInterval(scrollTimer);
            },
            function () {
              scrollTimer = setInterval(function () {
                scrollNews($this);
              }, 2000);
            }
          )
          .trigger("mouseout");
      });

      function scrollNews(obj) {
        var $self = obj.find("ul:first");
        var lineHeight = $self.find("li:first").height();
        $self.animate(
          {
            "margin-top": -lineHeight + "px",
          },
          600,
          function () {
            $self
              .css({
                "margin-top": "0px",
              })
              .find("li:first")
              .appendTo($self);
          }
        );
      }
    </script>

    <script>
      $(function () {
        var $this = $(".right_box_1_b");
        var scrollTimer;
        $this
          .hover(
            function () {
              clearInterval(scrollTimer);
            },
            function () {
              scrollTimer = setInterval(function () {
                scrollNews($this);
              }, 2000);
            }
          )
          .trigger("mouseout");
      });

      function scrollNews(obj) {
        var $self = obj.find("ul:first");
        var lineHeight = $self.find("li:first").height();
        $self.animate(
          {
            "margin-top": -lineHeight + "px",
          },
          700,
          function () {
            $self
              .css({
                "margin-top": "0px",
              })
              .find("li:first")
              .appendTo($self);
          }
        );
      }
    </script>

    <script>
      setInterval(() => {
        window.location.href = "shipei.html";
      }, 30000);
    </script>
  </body>
</html>
