body {
  background: #232326;
  color: #999;
  text-align: center;
  height: 100vh;
}

.field {
  padding: 0.5em;
}

input {
  height: 56px;
  color: #999;
  border: #232326;
  background-color: #3b3b41;
  padding: 0.5em 1em;
  border-radius: 6px;
  outline-style: none;
  box-shadow: none;
  width: 400px;
  border-color: transparent;
  font-size: 14px;
  font-weight: 400;
}

input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background-color: black;
  color: white;
  width: 400px;
}

.form {
  margin-top: 60px;
}

button {
  margin-top: 15px;
  height: 56px;
  color: #ffffff;
  border: #41b883;
  background-color: #41b883;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  width: 400px;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: #78c29f;
}

#message {
  height: 60px;
}

.success {
  color: #41b883;
  font-weight: 500;
}

.error {
  color: #e62965;
  font-weight: 500;
}

button:hover {
  background-color: #429972;
}
