.build_args {
  width: 100%;
  background-color: #232326;
  border-radius: 6px;
}
.build_args td {
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06) !important;
}
.build_args .head {
  border-radius: 6px;

  padding: 10px;
  padding-left: 20px;
  color: #999;
  font-size: 12px;
  background-color: #232326;
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06) !important;
}
