.summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary .item .success-icon {
  font-size: 24px;
  color: #41b883;
}

.summary .item .doing-icon,
.summary .item .waiting-icon,
.summary .item .pending-icon {
  font-size: 24px;
  color: hsl(35deg 95% 62%);
}

.summary .item .failed-icon {
  font-size: 24px;
  color: var(--color_danger);
}

.summary .item .doing-icon::before,
.summary .item .pending-icon::before,
.summary .item .success-icon::before,
.summary .item .waiting-icon::before,
.summary .item .failed-icon::before {
  margin-right: 10px;
}

.summary .item .failed-icon.icon-check::before {
  content: "\ea11";
}
.summary .item .doing-icon.icon-check::before,
.summary .item .waiting-icon.icon-check::before,
.summary .item .pending-icon.icon-check::before {
  content: "\e98e";
}

.summary .item {
  text-align: center;
}

.summary .item .key {
  font-size: 12px;
  font-weight: 600;
}

.summary .item .value {
  font-size: 16px;
  font-weight: 600;
}
