.blocks {
  padding: none;
  display: flex;
  justify-content: space-between;
}

.block {
  width: 200;
  height: 120;
  font-size: 18px;
  text-align: center;
}

.block div {
  color: #fff;
  font-size: 14px;
}

.console {
  margin-top: 20px;
}
